<!--YELLOW BANNER-->
<header>
    <h4>GEEN VERZENDKOSTEN bij aankoop van mijn eerste pinda in 3 of 6 stappen + mijn eerste pinda Opvolgkit</h4>
</header>

<!--NAV -->
<nav class="nav-container" id="nav-container">

    <div class="icons-left">
        <i class="ri-shopping-cart-2-line"></i>

        <a href="/login"><i class="ri-user-line"></i></a>
    </div>

    <a href="/" class="nav-logo"><img class="logo" src="/img/logo.png" alt="logo"></a>


    <div class="nav-menu" id="nav-menu">
        <i class="ri-close-line nav-close" id="nav-close"></i>
        <ul class="nav-list">

            <li class="nav-item">
                <a href="/producten" class="nav-link">
                    <i i class="ri-suitcase-line no-icon"></i>Producten</a>
            </li>

            <li class="nav-item">
                <a href="/detail/?detailSlug=stappenplan" class="nav-link">
                    <i i class="ri-footprint-line no-icon"></i>Stappenplan</a>
            </li>

            <li class="nav-item">
                <a href="/over" class="nav-link">
                    <i i class="ri-group-line no-icon"></i>Over</a>
            </li>

            <li class="nav-item">
                <a href="/detail/?detailSlug=nieuws" class="nav-link"><i i class="ri-file-text-line no-icon"></i>
                    Nieuws</a>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link">
                    <i i class="ri-mail-line no-icon"></i>Contact</a>
            </li>

            <li class="nav-item">
                <a href="/test" class="nav-link"><i i class="ri-questionnaire-line no-icon"></i>
                    Doe de test</a>
            </li>
        </ul>

        <div class="icons-right">
            <i class="ri-shopping-cart-2-line"></i>

            <a href="/login"><i class="ri-user-line"></i></a>
        </div>
    </div>

    <div class="nav-toggle" id="nav-toggle">
        <i class="ri-menu-fill"></i>
    </div>
</nav>
</div>


<noscript>
    <nav class="nav-container2">
        <!-- <a href="/" class="nav-logo"><img class="logo2" src="/img/logo.png" alt="logo"></a> -->


        <div class="items2">
            <li class="nav-item2">
                <a href="/producten" class="nav-link2">Producten</a>
            </li>

            <li class="nav-item2">
                <a href="/over" class="nav-link2">Over</a>
            </li>

            <li class="nav-item2">
                <a href="/" class="nav-link2">
                    Nieuws</a>
            </li>

            <li class="nav-item2">
                <a href="/contact" class="nav-link2">Contact</a>
            </li>

            <li class="nav-item2">
                <a href="/test" class="nav-link2">
                    Doe de test</a>
            </li>

            <li class="nav-item2">
                <a href="/" class="nav-link2">
                    Winkelwagen</a>
            </li>

            <li class="nav-item2">
                <a href="/login" class="nav-link2">
                    Account</a>
            </li>

            </ul>
        </div>
    </nav>
</noscript>



<main>