/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3rem;
    --nav-width: 219px;

    /*========== Colors ==========*/
    --first-color: #72AEA6;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #152a42;
    --text-color-light: #72AEA6;
    --body-color: #fafafa;
    --container-color: #FFFFFF;
    --green: #72AEA6;
    --darkblue: #152a42;
    --yellow: #f4eb34;
    --bg: #fafafa;

    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    /* padding: 2rem; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*  TEST */

/*========== HEADER ==========*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
    display: none;
}

.header__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.back {
    color: white;
    font-weight: var(--font-medium);
    font-size: 1.4em;
}

.header__search {
    display: flex;
    padding: .40rem .75rem;
    background-color: var(--first-color-light);
    border-radius: .25rem;
}

.header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}

.header__input::placeholder {
    font-family: var(--body-font);
    color: var(--text-color);
}

.header__icon,
.header__toggle {
    font-size: 1.2rem;
}

.header__toggle {
    color: var(--title-color);
    cursor: pointer;
}

.user-name {
    font-size: 1em;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.user-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* HEADER NO JS */
.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header-no-js {
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.nav-no-js {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo3 {
    width: 3em;
}

.nav3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.2rem;
    padding-left: 0;
    max-width: 12rem;
}

li {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8rem;
}

.nav-link3 {
    color: var(--darkblue);
}

/*========== NAV ==========*/
.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none;
    /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
    display: none;
}

.nav__logo {
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.logo {
    width: 4em;
    height: auto;
    margin: 0 auto;
}

.nav__list,
.nav__items {
    display: grid;
}

.nav__list {
    row-gap: 2.5rem;
}

.nav__items {
    row-gap: 1.5rem;
}

.nav__subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-color-light);
}

.nav__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav__logout {
    margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.nav__dropdown-content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.nav__dropdown-item:hover {
    color: var(--first-color);
}

.nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
    max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
    left: 0;
}

/*===== Active link =====*/
.active {
    color: var(--first-color);
}

/* ========== NOTES ==========*/
.article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin: 0 auto;
    gap: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

article {
    display: grid;
    width: 11em;
    min-height: 11em;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(174, 190, 205, .3);
    border-radius: 10px;
    padding: 0.5em;
    justify-self: center;
}

.note-title {
    font-size: 1.1em;
    color: var(--first-color);
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.note-description {
    font-size: 0.9em;
    color: var(--darkblue);
    margin-top: 0;
    margin-left: 0.5rem;
}

.note-date {
    font-size: 0.6em;
    color: grey;

}

.icons-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
    color: rgb(186, 186, 186);
    align-self: flex-end;
}

.note-add {
    font-size: 1.4em;
    color: var(--first-color);
    margin-top: 0.1em;
    font-weight: 600;
}

.note-container {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}

.plus {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 1px dashed var(--green);
    border-radius: 50%;
    margin: 1em auto;
}

.plus-icon {
    color: var(--first-color);
    font-size: 1.5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    border: none;
    width: 20rem;
    height: 30rem;
    margin: 5rem auto;
}

/* WHEN JS IS DISABLED */
#fieldset2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 20rem;
    height: 30rem;
    margin: 4rem auto 0 auto;
}

/* ========================*/


.wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 100%;
}

.form {
    padding: 1rem;
}


.title-newnote {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--first-color);
}

dialog {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #152a4266;
}

.form button#show {
    position: relative;
    border-radius: 50%;
    padding: 2rem;
    color: var(--first-color);
    border: 1px dashed var(--first-color);
    cursor: pointer;
}

button#exit {
    position: absolute;
    margin-top: 5.5em;
    margin-left: 18rem;
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    color: var(--darkblue);
}

.form button#show:hover {
    background-color: var(--first-color);
}

.form button#exit:hover {
    color: var(--first-color);
}

label {
    text-align: left;
    font-size: 1rem;
    color: var(--darkblue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0em;
}

input#titel {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid grey;
}

input#beschrijving {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid grey;
}

input#datum {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: grey;
    border-bottom: 1px solid grey;
}

input:focus {
    outline: none;
}

input {
    padding-bottom: 0.8rem;
}


.note-button {
    border: 1.5px solid var(--first-color);
    border-radius: 50rem;
    color: var(--first-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: white;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 0.8rem;
}

.note-button:hover {
    background-color: #72AEA6;
    color: white;
}

/* TODO */



/* ========== MEDIA QUERIES ==========*/

@media screen and (min-width: 768px) {
    body {
        padding-left: 14rem;
    }

    .header {
        padding: 0 3rem 0 6rem;
    }

    .header__container {
        height: calc(var(--header-height) + .5rem);
    }

    .header__toggle {
        display: none;
    }

    .header__logo {
        display: block;
    }

    .header__img {
        width: 40px;
        height: 40px;
        order: 1;
    }

    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 219px;
        height: 100%;
    }

    .nav__items {
        row-gap: 1.7rem;
    }

    .nav__icon {
        font-size: 1.3rem;
    }

    /* Element opacity */
    .nav__logo-name,
    .nav__name,
    .nav__subtitle,
    .nav__dropdown-icon {
        opacity: 1;
    }


    /* Navbar expanded */
    .nav:hover {
        width: var(--nav-width);
    }


}

@media screen and (min-width: 1024px) {

    .header2 {
        display: none;
    }

    .header {
        display: flex;
    }

    .article-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 1rem;
    }

    article {
        width: 20em;
        min-height: 20em;
        background-color: white;
        box-shadow: 2px 2px 2px rgba(174, 190, 205, .3);
        border-radius: 20px;
        padding: 1em;
        justify-self: center;

    }

    .user-data {
        display: flex;
        margin-left: 35.6rem;
        align-items: center;
        gap: 1rem;

    }

    button#exit {
        margin-left: 52.5rem;
    }

    .user-name {
        font-size: 1.1rem;
        color: var(--darkblue);
        font-weight: 600;
        margin-left: 35.6rem;
    }

    .logo {
        width: 5em;
        height: auto;
        margin: 0 auto;
    }

    fieldset {
        width: 25rem;
        min-height: 30rem;
        margin: 5rem auto;
    }

    #fieldset2 {
        height: 25rem;
    }

    .note-container {
        margin: 4rem auto;
    }

    .plus {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1.5rem;
    }

    .plus-icon {
        font-size: 2em;
    }


    .note-title {
        font-size: 1.3em;
    }

    .note-description {
        font-size: 0.9em;
    }

    .note-date {
        font-size: 0.7em;
        color: grey;

    }

    .icons-note {
        margin-right: 0.5rem;
        color: rgb(186, 186, 186);
        align-self: flex-end;
    }
}