@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

/* ============ BASE =========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  background-color: white;
}

:root {
  --green: #72AEA6;
  --darkblue: #152a42;
  --yellow: #f4eb34;
  --bg: #fafafa;
}

ul {
  list-style: none;
}

.plaat {
  max-width: 20em;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--darkblue);
}

i {
  font-size: 1.2rem;
}

h4 {
  color: #152a42;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 1.2em auto;
  width: 100%;
}



/* ============ YELLOW BANNER =========== */
header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--yellow);
  position: relative;
  padding: 1em;
}

/* ============ NAV =========== */
.nav-container {
  max-width: 100vw;
  background-color: white;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

.logo {
  width: 4em;
}

nav {
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  position: relative;
}

.icons-right {
  display: none;
}

/* =========== NAV WHEN JS IS NOT WORKING =========== */
.nav-container2 {
  display: flex;
  max-width: 100vw;
  background-color: white;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
  opacity: 1;
}

body.js-enabled .nav-container {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: white;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 2rem;
    transition: .4s;
    z-index: 5;
  }
}

.nav-list {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: var(--darkblue);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: .85rem;
}

.nav-link:hover {
  color: var(--green);
}

.nav-close {
  display: block;
  margin-left: 4.5em;
  margin-bottom: 1em;
  font-size: 1.5rem;
  color: var(--darkblue);
  cursor: pointer;
}

.show-menu {
  right: 0;
}




.logo2 {
  width: 4em;
  margin-left: 1em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.items2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  gap: 0.2rem;
}

.nav-link2 {
  font-size: 0.8rem;
}


/* =========== HOME =========== */

.hero {
  display: relative;
}

.hero-picture {
  width: 100vw;
  margin-bottom: 1em;
  opacity: 70%;
}

.section2 {
  background-color: white;
}

.text-container {
  margin: 3em 1em 3em 1em;
}

.hero-title {
  color: var(--green);
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.hero-text {
  text-align: left;
  color: var(--darkblue);
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

button {
  border: 1.5px solid var(--green);
  color: var(--green);
  border-radius: 30px;
  background-color: white;
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}

button:hover {
  background-color: var(--green);
  color: white;
  transition: 0.3s ease-in-out;
}


/* =========== STAPPEN =========== */

.steps {
  position: relative;
  background-color: white;

}

.steps-container {
  margin: 3em 1em 3em 1em;
}

.steps-title {
  color: var(--green);
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.steps-text {
  text-align: left;
  color: var(--darkblue);
  font-size: 0.6em;
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

.steps-picture {
  width: 100vw;
  height: auto;
  opacity: 70%;
}

/* =========== OPVOLGKIT =========== */

.kit {
  position: relative;

}

.kit-container {
  margin: 3em 1em 3em 1em;
}

.kit-title {
  color: var(--green);
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.7em;
}

.kit-text {
  text-align: left;
  color: var(--darkblue);
  font-size: 0.6em;
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

.steps-picture {
  width: 100vw;
  height: auto;
  opacity: 70%;
}

/* =========== CARDS =========== */

.cards {
  position: relative;
}

.card {
  background-color: var(--bg);
  box-shadow: 2px 2px 2px rgba(174, 190, 205, .3);
  border-radius: 20px;
  margin: 2em 1em 1em 1em;
  padding: 1.5em;
  text-align: left;
}

.card-title {
  color: var(--green);
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

.card-text {
  text-align: left;
  color: var(--darkblue);
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

.card-icon {
  color: var(--green);
  font-size: 2.5em;
  text-align: center;
}

/* =========== OVER =========== */

.over {
  position: relative;
}

.over-container {
  margin: 3em 1em 3em 1em;
}

.over-title {
  color: var(--green);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.over-text {
  text-align: left;
  color: var(--darkblue);
  font-size: 0.6em;
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.4;
}

.over-picture {
  width: 100vw;
  height: auto;
  opacity: 70%;
  margin-top: 3em;
}

/* =========== FOOTER =========== */

.footer {
  background-color: var(--bg);
  padding: 1em 1em;
}

.footer-title {
  color: var(--green);
  margin-bottom: 0.8em;
  margin-top: 2em;
}

.footer-link {
  text-decoration: none;
  color: var(--darkblue);
  font-weight: 300;
  line-height: 2.5;
}

.copyright {
  color: var(--darkblue);
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 2em;
}

/* ============ OVERVIEW =========== */
.product-container {
  row-gap: 2rem;
}

.product {
  transition: .3s;
  margin-bottom: 1.8em;

}

.product:hover {
  transform: translateY(-.5rem);
}

.product-box {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
}

.product-new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--green);
  color: white;
  padding: .3rem .75rem;
  font-size: 1rem;
}

.product-data {
  text-align: left;
}

.product-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--green);
}

.product-price {
  color: var(--darkblue);
  font-weight: 500;
}

.product-img {
  width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0;
}

.section-title {
  font-size: 1.5em;
  color: var(--green);
  margin: 4rem 0 .5rem 1.5rem;
  text-align: left;
}

.section-all {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--darkblue);
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 1.5rem;

}

.section {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin: 0 auto;

}

/*  ========== DETAIL PAGE ========= */
.detail-title {
  font-size: 1.2rem;
  color: var(--green);
  margin-top: 2rem;
  margin-left: 1.2em;
  margin-bottom: 0.5em;
}

span p {
  font-size: 1em;
  line-height: 1.4rem;
  text-align: left;
  font-weight: 300;
  color: var(--darkblue);
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}

span ul {
  display: none;
}

span li {
  margin-bottom: 0.5em;
  color: var(--darkblue);
}

.image-detail {
  width: 100%;
  height: auto;
}

.detail-price {
  margin-left: 1.2rem;
  color: var(--darkblue);
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

span button {
  margin-left: 1.2rem;
  margin-bottom: 3rem;
}


/* =========== LOGIN =========== */

.back-container {
  z-index: 15;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1.5em;
  padding-bottom: 0rem;
}

.back-to {
  color: var(--green);
  font-size: 1em;
  padding-left: 0.5em;
  text-decoration: none;
}

.back {
  color: var(--green);
  font-weight: 600;
  font-size: 1.4rem;
}

.back-to a {
  color: var(--green);
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 45%;
  object-fit: cover;
  object-position: center;
}

.login-form {
  position: relative;
  background-color: white;
  border: none;
  margin-top: -5em;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
}

.login-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--green);
  margin-bottom: 2rem;
}

.login-content,
.login-box {
  display: grid;

}

.login-content {
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.login-box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.login-icon,
.login-eye {
  font-size: 1.25rem;
}

.login-input {
  width: 100%;
  padding-block: .8rem;
  background: none;
  border: transparent;
  color: var(--darkblue);
  position: relative;
  z-index: 1;

}

.login-box__input {
  position: relative;
  border: none;
}

.login-label {
  position: absolute;
  left: 0;
  top: 13px;
  transition: top .3s;
  font-size: 0.9em;
}

.login-eye {
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 10;
  cursor: pointer;
}

.login-box:nth-child(2) input {
  padding-right: 1.8rem;
}

.login-check,
.login-check__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-check {
  margin-bottom: 1.5rem;
}

.login-check__label,
.login-forgot,
.login-register {
  font-size: 0.8rem;
}

.login-check__group {
  column-gap: .5rem;
}

.login-check__input {
  width: 14px;
  height: 14px;
}

.login-forgot {
  color: var(--green);
}

.login-forgot:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 1rem;
  background-color: none;
  border: 2px solid var(--green);
  border-radius: 1.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--green);
  font-weight: 700;
  text-align: center;

}

.login-button a {
  color: var(--green);
}

.login-button:hover {
  background-color: var(--green);
  color: white;
}

.login-register {
  text-align: center;

}

.login-register a {
  color: var(--green);
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}

.login-input:focus {
  outline: none;
}

.login-input:focus+.login-label {
  top: -12px;
  font-size: 0.8em;
}

.login-input:not(:placeholder-shown).login-input:not(:focus)+.login-label {
  top: -12px;
  font-size: 0.8em;
}





/* ============ RESPONSIVE =========== */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login-form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }

  .login-title {
    font-size: 2rem;
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  nav {
    height: 7rem;
  }

  .logo {
    width: 6em;
  }

  .nav-link {
    color: var(--darkblue);
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }

  .nav-link:hover {
    color: var(--green);
  }

  .no-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .nav-list {
    flex-direction: row;
    gap: 2.5em;
  }

  .nav-toggle,
  .nav-close {
    display: none;
  }

  .icons-left {
    display: none;
  }

  .section {
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% - 5rem);
  }

  .section-title {
    margin: 5rem 0 .5rem 3rem;
  }

  .section-all {
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1024px) {

  /* HERO */
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero-picture {
    width: 100%;
    height: 100%;
    opacity: 70%;
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 1.9em;
    line-height: 1.4em;
  }

  .hero-text {
    line-height: 1.6em;
    font-size: 1.1em;
  }

  .text-container {
    max-width: 32em;
    margin: auto;
  }

  .hero-button {
    font-size: 1.1em;
    padding: 0.8em 0.8em 0.8em 0.8em;
  }

  /* STAPPEN */

  .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .steps-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    grid-row-start: 1;
  }

  .steps-title {
    font-size: 1.9em;
    line-height: 1.4em;
    text-align: left;
  }

  .steps-text {
    line-height: 1.5em;
    font-size: 0.75em;
  }

  .steps-container {
    max-width: 32em;
    margin: auto;
  }

  .steps-button {
    font-size: 0.8em;
    padding: 0.8em 0.8em 0.8em 0.8em;
  }

  /* OPVOLGKIT */

  .kit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .kit-container {
    grid-row-start: 1;
    max-width: 32em;
    margin: auto;
  }

  .kit-title {
    font-size: 1.9em;
    line-height: 1.4em;
    text-align: left;
  }

  .kit-text {
    line-height: 1.6em;
    font-size: 0.75em;
  }

  .opvolgkit-button {
    font-size: 0.8em;
    padding: 0.8em 0.8em 0.8em 0.8em;
    margin: 0;
  }

  /* CARDS */

  .cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 3em 4em 3em;
  }

  .card {
    height: 430px;
    padding: 2em;
  }

  .card-title {
    color: var(--green);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .card-text {
    text-align: left;
    color: var(--darkblue);
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1.5em;
    line-height: 1.6em;
  }

  .card-button {
    font-size: 1em;
    padding: 0.8em 0.8em 0.8em 0.8em;
    background: none;
  }

  /* OVER */

  .over {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .over-title {
    font-size: 1.9em;
    line-height: 1.4em;
  }

  .over-text {
    font-size: 0.75em;
    line-height: 1.6em;
  }

  .over-picture {
    margin-top: -20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    grid-row-start: 1;
  }

  .over-container {
    max-width: 40em;
    margin: auto;
  }

  .over-button {
    font-size: 0.8em;
    padding: 0.8em 0.8em 0.8em 0.8em;
  }

  .nav-container {
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    margin: 0em 8em 0em 8em;
  }

  p {
    font-size: 0.9em;
  }

  .icons-right {
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin-left: 10em;
    color: var(--darkblue);
  }


  .section-title {
    font-size: 2em;
  }

  .section-all {
    font-size: 1.1em;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }

  .product-name {
    font-size: 1.2em;
  }

  /*   DETAIL PAGE  */
  .grid-container {
    display: flex;
    justify-content: center;
    gap: 2rem;


  }

  .image-detail {
    margin-top: 5rem;
    width: 40%;
    height: 28rem;
  }

  .detail-title {
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-left: 2em;
  }

  span p {
    max-width: 32em;
    font-size: 1em;
    margin-left: 0rem;
  }

  .detail-price {
    margin-left: 0;
  }

  span button {
    margin-left: 0;
  }


  /* FOOTER */
  footer {
    width: 100vw;
    margin-top: 2em;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 2em;
  }

  .footer-title {
    font-size: 1.5em;
  }

  .footer-link {
    font-size: 1.1em;
    line-height: 2.5em;
  }

  .copyright {
    font-size: 1em;
    margin-left: 15em;
  }


}


@media screen and (min-width: 1200px) {
  .nav-container {
    max-width: 100vw;
  }

  nav {
    margin: 0em 8em 0em 8em;
  }
}